*{
    background: rgba(255, 200, 255, 0.5);
}

header{
    position: fixed;
    top: 0;
    height: 10vmin;
    width: 100%;
    z-index: 10;
}

nav{
    background-color: #e9fff8;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    margin: 0;
}

nav ul li a{
    display: block;
    font-size: 3vmin;
    font-weight: bold;
    padding: 2vmin;
    color: #223031;
    text-decoration: none;
    transition: background-color 0.75s, color 0.5s;
}

nav ul li a:hover{
    color: #ffc4fd;
    text-shadow: 0.25px 0.25px 1px #2c2231;
    background-color: #5a0075;
    box-shadow: 0.25px 0.25px 1px #2c2231;
}