*{
    margin: 0;
    padding: 0;
    color: #222831;
}

body{
    font-family: Arial, sans-serif;
}

header{
    position: fixed;
    top: 0;
    height: 10vmin;
    width: 100%;
    z-index: 10;
}

nav{
    background-color: #e9fff8;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    margin: 0;
}

nav ul li a{
    display: block;
    font-size: 3vmin;
    font-weight: bold;
    padding: 2vmin;
    color: #223031;
    text-decoration: none;
    transition: background-color 0.75s, color 0.5s;
}

nav ul li a:hover{
    color: #ceffc4;
    text-shadow: 0.25px 0.25px 1px #222831;
    background-color: #007573;
    box-shadow: 0.25px 0.25px 1px #222831;
}

main{
    margin-top: 10vmin;
}

section {
    padding: 1.5vmin;
    margin-top: 2.5vmin;
    border: 1px solid #393E46;
}

#intro{
    border: none;
}

h1{
    text-align: center;
    padding: 1vmin;
}

h2{
    text-align: center;
    padding: 1vmin;
}

footer{
    padding: 1vmin;
}